# Importing the Libraries

In [30]:
import numpy as np
import pandas as pd
import joblib
from sklearn.feature_extraction.text import TfidfVectorizer

import warnings
warnings.filterwarnings("ignore")

# Importing the dataset

In [2]:
train = pd.read_csv("train_Intent.csv")

In [14]:
train["clean"].fillna(" ",inplace=True)

In [3]:
test = pd.read_csv("test2use.csv")

In [18]:
test["clean"].fillna(" ",inplace=True)

# tf-idf-Vectorization

In [19]:
#Defining the tf-idf-vectorizer
features = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)

In [21]:
#Creating the vector
prep = features.fit(train["clean"])
message = prep.transform(test["clean"])

# Importing the model

In [31]:
model = joblib.load('intent_cluster.pkl')

In [32]:
y = model.predict(message)
#adding the labels to a column named intent
test["intent"] = y
#The new dataframe with the clustering done
test.head()

,Unnamed: 0,Id,Message,length,clean,intent
0,61410,5b696ce48bb55b31c4039955,**Exclusive Now Or Never Offer** 50 Crore Dat...,2562,exclusive never offer 50 crore database digita...,0
1,29473,5b3dce3b8bb55b25c894ed05,Anyone can do seo for website,31,anyone seo website,0
2,182979,5d027171a3df63227c0b85cf,"We're getting ""invalid e-mail address"" error ...",130,getting invalid email address error opt page t...,1
3,28273,5b3c99c08bb55b26f88789ea,Hey you guys I was talk ing to a member I ho...,918,hey guys talk ing member hope guys know drop s...,1
4,108173,5bcf0ab28bb55b07a8f8efe6,BUENAS NOCHES TENGO ESTO EN VENTA PARA MÁS IN...,144,buenas noches tengo esto en venta para más inf...,1

# Classifying and saving the data

In [33]:
#Renaming classification
test["intent"].replace({0:'Buyer & Seller', 1:'Seller', 2:'Neutral', 3:'Buyer'}, inplace=True)

In [34]:
#Exporting the data
test.to_csv('test_Intent.csv')

In [35]:
test.head()

,Unnamed: 0,Id,Message,length,clean,intent
0,61410,5b696ce48bb55b31c4039955,**Exclusive Now Or Never Offer** 50 Crore Dat...,2562,exclusive never offer 50 crore database digita...,Buyer & Seller
1,29473,5b3dce3b8bb55b25c894ed05,Anyone can do seo for website,31,anyone seo website,Buyer & Seller
2,182979,5d027171a3df63227c0b85cf,"We're getting ""invalid e-mail address"" error ...",130,getting invalid email address error opt page t...,Seller
3,28273,5b3c99c08bb55b26f88789ea,Hey you guys I was talk ing to a member I ho...,918,hey guys talk ing member hope guys know drop s...,Seller
4,108173,5bcf0ab28bb55b07a8f8efe6,BUENAS NOCHES TENGO ESTO EN VENTA PARA MÁS IN...,144,buenas noches tengo esto en venta para más inf...,Seller